/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: rgb(246, 254, 255);
}

.wallpaper {
	background-image: url('Images/wallpaper.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -100;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
	max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.jumbotron {
		margin-top: 20px;
	}

	.body-content {
		padding: 0;
	}
}

.thumb {
	padding: 6px;
	margin: 0;
}

.thumb-figure {
	margin-bottom: 0;
}

	.thumb-figure:hover img {
		transform: scale(1.05);
		transition: all .1s linear;
	}

.thumb-image {
	margin: 0;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.thumb-figcaption {
}

.videoplayer {
	max-height: 400px;
}

/* Popup */

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	/*border: 1px solid black;*/
	background-color: var(--background-clr);
	padding: 32px;
}

/* Login page */


.container {
	height: 100%;
	align-content: center;
}

.card-header h3 {
	color: white;
}

.card {
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span {
	font-size: 60px;
	margin-left: 10px;
	color: #FFC312;
}

	.social_icon span:hover {
		color: white;
		cursor: pointer;
	}



.social_icon {
	position: absolute;
	right: 20px;
	top: -45px;
}

.input-group-prepend span {
	width: 50px;
	background-color: #FFC312;
	color: black;
	border: 0 !important;
}

input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.remember {
	color: white;
}

	.remember input {
		width: 20px;
		height: 20px;
		margin-left: 15px;
		margin-right: 5px;
	}

.login_btn {
	color: black;
	background-color: #FFC312;
	width: 100px;
}

	.login_btn:hover {
		color: black;
		background-color: white;
	}

.links {
	color: white;
}

	.links a {
		margin-left: 4px;
	}

.bootstrap-tagsinput .tag {
	background-color: rgb(0, 115, 135);
	border-radius: 4px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-top: 2px;
}


.center {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/*

	margin: auto;
	width: 50%;
	height: 20%;
	*/
	display: block;
	clear: both;
	margin: auto auto;
	width: 100%;
	max-width: 600px;
	/**/
	padding: 20px 0px;
	text-align: center;
	/* Begin border */
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #000000;
	/* End border, begin drop shadow */
	-webkit-box-shadow: 0px 0px 57px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 57px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 57px 0px rgba(0,0,0,0.45);
	/* End drop shadow */
	background-color: white;
}


.upload-button {
	font-size: 17px;
	padding: 12px 35px;
	font-size: 17px;
	font-family: 'Source Sans Pro', sans-serif;
	border: none;
	border-radius: 5px;
	display: inline-block;
	padding: 13px 25px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: rgb(116, 162, 184);
	color: #ffffff;
}

	.upload-button:hover, .upload-button:active {
		background-color: rgb(90, 127, 145) !important;
		color: #ffffff;
	}